  
version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:10.16.3
    steps:
      - checkout
      - run:
          name: update-npm
          command: cd ~/taskmanagementsystem/nestjs-task-management && npm install
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      